build --incompatible_enable_cc_toolchain_resolution
build --enable_workspace
common --cxxopt="-std=c++26" 
common --conlyopt="-std=gnu2x"
common --host_cxxopt="-std=c++26"
common --host_cxxopt="-working-directory=./"
common --host_conlyopt="-std=gnu2x"
common --repo_env=CC=clang-20
common --repo_env=CXX=clang++-20