build --incompatible_enable_cc_toolchain_resolution
build --enable_workspace
common --cxxopt="-std=c++23" 
common --conlyopt="-std=gnu23"
common --host_cxxopt="-std=c++23"
common --host_cxxopt="-working-directory=./"
common --host_conlyopt="-std=gnu23"
common --repo_env=CC=clang
common --repo_env=CXX=clang++